html{
    scroll-behavior: smooth;
}

header{
    position: fixed;
    background-color: #000B;
    height: 80px;
    width: 100vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 100px;
}

.links-container{
    display: flex;
    gap: 16px;
    justify-content: flex-end;
}

.links-container a{
    color: #fff;
}
section{
    height: 100vh;
}

.home-container{
    background-color: thistle;
}

.fpoo-container{
    background-color: aquamarine;
}

.lima-container{
    background-color: skyblue;
}

.hare-container{
    background-color: salmon;
}

.sop-container{
    background-color: lightgreen;
}

footer{
    background-color: aquamarine;
    height: 80px;
}